body{
font-family:Arial,sans-serif;
background:#4facfe;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:20px;
border-radius:10px;
text-align:center;
width:350px;
}

input{
width:90%;
padding:10px;
margin:10px 0;
}

button{
padding:10px;
margin:5px;
cursor:pointer;
background:#4facfe;
color:white;
border:none;
border-radius:5px;
}

#weatherResult{
margin-top:20px;
}